#intro{
    color: purple;
    font-weight: bold;
    font-size: 20px;
}

body{
    background-color: antiquewhite;
}



.h1
{
    font-style: oblique;
    color:aquamarine;
    font-size:medium;
    font-weight:200px;
}